.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #707070 0% 0% no-repeat padding-box;
    height: 399px;
    width: 100%;
}
.naveg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}